body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../gambar/kopi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: "montserrat", sans-serif;
}

.login-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  line-height: 1.5;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset 0 5px 10px 2px rgba(0, 0, 0, 0.8);
  animation: animate 6s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
    transition-delay: 3s;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-delay: 3s;
  }
}

.login-btn:hover {
  width: 90px;
  height: 90px;
  border-radius: 55px;
  transition: 0.5s;
  font-size: 30px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.login-btn:active {
  box-shadow: inset 0 15px 10px 10px rgba(255, 255, 255, 0.8);
}

.navbar {
  position: fixed;
  top: 26%;
}

a {
  font-size: 0;
  color: whitesmoke;
  /* letter-spacing: 2px; */
  text-decoration: none;
}

a:nth-child(1) {
  margin-bottom: 150px;
}

.navbar ul {
  padding: 0;
  transform: translate(-360px, 0);
}

.navbar ul li {
  display: block;
  margin: 98px;
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  /* transition: .5s; */
  animation: head 4s;
}

.navbar ul li:hover {
  transform: translate(95px, 0);
  background: linear-gradient(45deg, #ff146a, #ffeb27);
  transition: .5s;
}


.navbar ul li:hover a {
  color: whitesmoke;
  font-size: 24px;
  animation: animate 2s;
}

.navbar ul li:hover i {
  color: #f3ba00;
  background: whitesmoke;
  transform: rotate(360deg);
  transition: .5s;

}

.navbar ul li i {
  margin-left: 10px;
  color: #000;
  background: rgba(255, 255, 255, 0.349);
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  animation: animate 2s;
  transform: rotate(0deg);
}


.login-box {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  background-image: url(../gambar/sepeda.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.login-box.show {
  left: 0;
}

.login-form {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #ccbdbd;
  text-align: center;
}

.welcome {
  font-size: 50px;
  font-weight: 600;

  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.welcome.show {
  animation: head 6s;
}

@keyframes head {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: translate3d(0, 5px, 0);
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    transition: 1s ease-out;
  }
}

.box {
  font-size: 15px;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  text-align: center;
  width: 250px;
  height: 40px;
  background: #ffffff28;
  color: whitesmoke;
  box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.8);

  animation-delay: 1s;
}

.box.show {
  animation: head 3s;
}

.box.masuk {
  margin-top: 15px;
  width: 150px;
  text-transform: uppercase;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  font-size: 18px;
  cursor: pointer;
}

.box.masuk:hover {
  background: linear-gradient(45deg, #ffeb27, #ff146a);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  box-shadow: inset 1 2px 6px 2px rgba(255, 255, 255, 0.5);
  color: whitesmoke;
  width: 170px;
  font-size: 20px;
  transition: 0.4s;
}

.box.masuk:active {
  position: relative;
  box-shadow: 0 0 0 0;
  top: 4px;
}

@media screen and (max-width: 823px) {
  .login-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .login-btn:hover {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    transition: 0.5s;
    font-size: 18px;
  }

  .login-form {
    top: 50%;
    left: 55%;
  }

  .navbar ul li:hover {
    transform: translate(0, 0);
    background: none;
  }

  .navbar ul li:hover a {
    font-size: 0px;
  }



}